[submodule "snap_files_editor"]
	path = snap_files_editor
	url = https://github.com/Fortpress/snap_files_editor
	branch = main
[submodule "snap_git_sync"]
	path = snap_git_sync
	url = https://github.com/Fortpress/snap_git_sync
	branch = main
[submodule "snap_server_peripheral-s"]
	path = snap_server_peripheral-s
	url = https://github.com/raufig/snap_server_peripheral-s/
	branch = main
[submodule "snap_minifier"]
	path = snap_minifier
	url = https://github.com/Fortpress/snap_minifier
	branch = main
[submodule "snap_security"]
	path = snap_security
	url = https://github.com/Fortpress/snap_security
	branch = main
[submodule "snap_websocket_example"]
	path = snap_websocket_example
	url = https://github.com/Fortpress/snap_websocket_example
	branch = main
[submodule "snap-realtime-logs"]
	path = snap-realtime-logs
	url = https://github.com/Fortpress/snap-realtime-logs
[submodule "snap_realtime_tracking"]
	path = snap_realtime_tracking
	url = https://github.com/Fortpress/snap_realtime_tracking
